In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 1.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=9123503b3eab89440adee30b9aca9f59df12dce87242bafb08cd4a9135914679
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [41]:
#spark
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import *

In [42]:
spark = SparkSession.builder.appName("data_clean_person").getOrCreate()

In [43]:
# Define the schema so it matches with the Big Query later
schema = StructType([
    StructField("BusinessEntityID", IntegerType(), nullable=False),
    StructField("PersonType", StringType(), nullable=True),
    StructField("NameStyle", IntegerType(), nullable=True),
    StructField("Title", StringType(), nullable=True),
    StructField("FirstName", StringType(), nullable=True),
    StructField("MiddleName", StringType(), nullable=True),
    StructField("LastName", StringType(), nullable=True),
    StructField("Suffix", StringType(), nullable=True),
    StructField("EmailPromotion", IntegerType(), nullable=True),
    StructField("AdditionalContactInfo", StringType(), nullable=True),
    StructField("Demographics", StringType(), nullable=True),
    StructField("rowguid", StringType(), nullable=True),
    StructField("ModifiedDate", TimestampType(), nullable=True)
])

# Read the CSV file using the defined schema
df = spark.read.csv('./raw_data/Person.Person.csv', sep=';', encoding='utf-8', header=True, schema=schema)

In [44]:
# Defining a UDF (User Defined Function)
def clean_non_ascii(value):
    if value is None:
        return None
    return value.encode('ascii', 'ignore').decode('ascii')

clean_udf = udf(clean_non_ascii, StringType())

In [45]:
# Apply the UDF to all string columns of the dataframe
for col_name in df.columns:
    if isinstance(df.schema[col_name].dataType, StringType):
        df = df.withColumn(col_name, clean_udf(col_name))

df.show()

+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+-------------------+
|BusinessEntityID|PersonType|NameStyle|Title|FirstName|MiddleName|  LastName|Suffix|EmailPromotion|AdditionalContactInfo|        Demographics|             rowguid|       ModifiedDate|
+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+-------------------+
|               1|        EM|        0| NULL|      Ken|         J|    Snchez|  NULL|             0|                 NULL|"<IndividualSurve...|92C4279F-1207-48A...|2009-01-07 00:00:00|
|               2|        EM|        0| NULL|    Terri|       Lee|     Duffy|  NULL|             1|                 NULL|"<IndividualSurve...|D8763459-8AA8-47C...|2008-01-24 00:00:00|
|               3|        EM|        0| NULL|  Roberto|      NULL|Tamburello|  NULL|             0|                 NULL|"<IndividualSurve...|E1A2555E-0828-434...|2007-11-04 00:00:00|
|               4|        EM|        0| NULL|      Rob|      NULL|   Walters|  NULL|             0|                 NULL|"<IndividualSurve...|F2D7CE06-38B3-435...|2007-11-28 00:00:00|
|               5|        EM|        0|  Ms.|     Gail|         A|  Erickson|  NULL|             0|                 NULL|"<IndividualSurve...|F3A3F6B4-AE3B-430...|2007-12-30 00:00:00|
|               6|        EM|        0|  Mr.|   Jossef|         H|  Goldberg|  NULL|             0|                 NULL|"<IndividualSurve...|0DEA28FD-EFFE-482...|2013-12-16 00:00:00|
|               7|        EM|        0| NULL|    Dylan|         A|    Miller|  NULL|             2|                 NULL|"<IndividualSurve...|C45E8AB8-01BE-4B7...|2009-02-01 00:00:00|
|               8|        EM|        0| NULL|    Diane|         L|  Margheim|  NULL|             0|                 NULL|"<IndividualSurve...|A948E590-4A56-45A...|2008-12-22 00:00:00|
|               9|        EM|        0| NULL|     Gigi|         N|   Matthew|  NULL|             0|                 NULL|"<IndividualSurve...|5FC28C0E-6D36-425...|2009-01-09 00:00:00|
|              10|        EM|        0| NULL|  Michael|      NULL|    Raheem|  NULL|             2|                 NULL|"<IndividualSurve...|CA2C740E-75B2-420...|2009-04-26 00:00:00|
|              11|        EM|        0| NULL|   Ovidiu|         V|   Cracium|  NULL|             0|                 NULL|"<IndividualSurve...|D2CC2577-EF6B-440...|2010-11-28 00:00:00|
|              12|        EM|        0| NULL|  Thierry|         B|    D'Hers|  NULL|             2|                 NULL|"<IndividualSurve...|FA263C7F-600D-4E8...|2007-12-04 00:00:00|
|              13|        EM|        0|  Ms.|   Janice|         M|    Galvin|  NULL|             2|                 NULL|"<IndividualSurve...|34EB99E0-7042-4DC...|2010-12-16 00:00:00|
|              14|        EM|        0| NULL|  Michael|         I|  Sullivan|  NULL|             2|                 NULL|"<IndividualSurve...|9A7501DE-5CAF-470...|2010-12-23 00:00:00|
|              15|        EM|        0| NULL|   Sharon|         B| Salavaria|  NULL|             2|                 NULL|"<IndividualSurve...|BEBA63CB-13F1-4B7...|2011-01-11 00:00:00|
|              16|        EM|        0| NULL|    David|         M|   Bradley|  NULL|             1|                 NULL|"<IndividualSurve...|2CC8BA72-5DBB-497...|2007-12-13 00:00:00|
|              17|        EM|        0| NULL|    Kevin|         F|     Brown|  NULL|             2|                 NULL|"<IndividualSurve...|9EE4713E-B3D8-440...|2007-01-19 00:00:00|
|              18|        EM|        0| NULL|     John|         L|      Wood|  NULL|             2|                 NULL|"<IndividualSurve...|FE21BDA7-9327-4D1...|2011-01-31 00:00:00|
|              19|        EM|        0| NULL|     Mary|         A|   Dempsey|  NULL|             1|                 NULL|"<IndividualSurve...|36F04305-6769-4E6...|2011-02-07 00:00:00|
|              20|        EM|        0| NULL|   Wanida|         M|  Benshoof|  NULL|             2|                 NULL|"<IndividualSurve...|1E7E56F4-A583-4E3...|2010-12-31 00:00:00|
+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [46]:
df.printSchema()

root
 |-- BusinessEntityID: integer (nullable = true)
 |-- PersonType: string (nullable = true)
 |-- NameStyle: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- MiddleName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- Suffix: string (nullable = true)
 |-- EmailPromotion: integer (nullable = true)
 |-- AdditionalContactInfo: string (nullable = true)
 |-- Demographics: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: timestamp (nullable = true)

In [47]:
# Writing the transformed dataframe to a new CSV file
df.coalesce(1).write.csv('table_person.csv', header=True, mode='overwrite')

In [49]:
# Stopping the Spark session
spark.stop()