In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=8da840f4b498258e8538fe9e23b1043dbf34393b7988a1886f5a5d3d525e0e67
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [35]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import regexp_replace, when, col

In [36]:
spark = SparkSession.builder \
    .appName("data_clean_salesorderdetail") \
    .getOrCreate()

In [52]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, TimestampType
from pyspark.sql.functions import regexp_replace

spark = SparkSession.builder.appName("DDLSchemaConversion").getOrCreate()

# Step 1: Create schema based on DDL
schema = StructType([
    StructField("SalesOrderID", IntegerType()),
    StructField("SalesOrderDetailID", IntegerType(), nullable=False),
    StructField("CarrierTrackingNumber", StringType()),
    StructField("OrderQty", IntegerType()),
    StructField("ProductID", IntegerType()),
    StructField("SpecialOfferID", IntegerType()),
    StructField("UnitPrice",StringType()),
    StructField("UnitPriceDiscount", StringType()),
    StructField("LineTotal", FloatType()),
    StructField("rowguid", StringType()),
    StructField("ModifiedDate", TimestampType())
])

# Step 2: Read CSV with enforced schema
df = spark.read.csv('./raw_data/Sales.SalesOrderDetail.csv', schema=schema, sep=';', header=True)

# Step 3: Perform regex operations and other transformations
# Remove all "null" cases in upper and lower case
df = df.withColumn("CarrierTrackingNumber", regexp_replace(df["CarrierTrackingNumber"], "(?i)NULL", ""))
df = df.withColumn("rowguid", regexp_replace(df["rowguid"], "(?i)NULL", ""))

# Substitute commas for dots for specific columns
df = df.withColumn("UnitPrice", regexp_replace(df["UnitPrice"], ",", "."))
df = df.withColumn("UnitPriceDiscount", regexp_replace(df["UnitPriceDiscount"], ",", "."))

df.show()

+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+-------------------+
|SalesOrderID|SalesOrderDetailID|CarrierTrackingNumber|OrderQty|ProductID|SpecialOfferID|UnitPrice|UnitPriceDiscount|LineTotal|             rowguid|       ModifiedDate|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+-------------------+
|       43659|                 1|         4911-403C-98|       1|      776|             1| 2024.994|             0.00| 2024.994|B207C96D-D9E6-402...|2011-05-31 00:00:00|
|       43659|                 2|         4911-403C-98|       3|      777|             1| 2024.994|             0.00| 6074.982|7ABB600D-1E77-41B...|2011-05-31 00:00:00|
|       43659|                 3|         4911-403C-98|       1|      778|             1| 2024.994|             0.00| 2024.994|475CF8C6-49F6-486...|2011-05-31 00:00:00|
|       43659|                 4|         4911-403C-98|       1|      771|             1| 2039.994|             0.00| 2039.994|04C4DE91-5815-45D...|2011-05-31 00:00:00|
|       43659|                 5|         4911-403C-98|       1|      772|             1| 2039.994|             0.00| 2039.994|5A74C7D2-E641-438...|2011-05-31 00:00:00|
|       43659|                 6|         4911-403C-98|       2|      773|             1| 2039.994|             0.00| 4079.988|CE472532-A4C0-45B...|2011-05-31 00:00:00|
|       43659|                 7|         4911-403C-98|       1|      774|             1| 2039.994|             0.00| 2039.994|80667840-F962-4EE...|2011-05-31 00:00:00|
|       43659|                 8|         4911-403C-98|       3|      714|             1|  28.8404|             0.00|  86.5212|E9D54907-E7B7-496...|2011-05-31 00:00:00|
|       43659|                 9|         4911-403C-98|       1|      716|             1|  28.8404|             0.00|  28.8404|AA542630-BDCD-4CE...|2011-05-31 00:00:00|
|       43659|                10|         4911-403C-98|       6|      709|             1|     5.70|             0.00|     34.2|AC769034-3C2F-495...|2011-05-31 00:00:00|
|       43659|                11|         4911-403C-98|       2|      712|             1|   5.1865|             0.00|   10.373|06A66921-6B9F-419...|2011-05-31 00:00:00|
|       43659|                12|         4911-403C-98|       4|      711|             1|  20.1865|             0.00|   80.746|0E371EE3-253E-4BB...|2011-05-31 00:00:00|
|       43660|                13|         6431-4D57-83|       1|      762|             1| 419.4589|             0.00| 419.4589|419A1302-AC7A-404...|2011-05-31 00:00:00|
|       43660|                14|         6431-4D57-83|       1|      758|             1|  874.794|             0.00|  874.794|5D0B2B03-1D4C-4C3...|2011-05-31 00:00:00|
|       43661|                15|         4E0A-4F89-AE|       1|      745|             1|   809.76|             0.00|   809.76|EDE1759E-6733-4C7...|2011-05-31 00:00:00|
|       43661|                16|         4E0A-4F89-AE|       1|      743|             1| 714.7043|             0.00| 714.7043|FE10BF09-D477-485...|2011-05-31 00:00:00|
|       43661|                17|         4E0A-4F89-AE|       2|      747|             1| 714.7043|             0.00|1429.4086|B136852E-24C9-400...|2011-05-31 00:00:00|
|       43661|                18|         4E0A-4F89-AE|       4|      712|             1|   5.1865|             0.00|   20.746|F0F410B6-BC93-4D7...|2011-05-31 00:00:00|
|       43661|                19|         4E0A-4F89-AE|       4|      715|             1|  28.8404|             0.00| 115.3616|AE4CDA7D-9B6E-4AB...|2011-05-31 00:00:00|
|       43661|                20|         4E0A-4F89-AE|       2|      742|             1| 722.5949|             0.00|1445.1898|054A9D3B-A178-465...|2011-05-31 00:00:00|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+-------------------+
only showing top 20 rows

In [53]:
# Cast "UnitPrice" and "UnitPriceDiscount" to float
df = df.withColumn("UnitPrice", col("UnitPrice").cast(FloatType()))
df = df.withColumn("UnitPriceDiscount", col("UnitPriceDiscount").cast(FloatType()))

df.show()

+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+-------------------+
|SalesOrderID|SalesOrderDetailID|CarrierTrackingNumber|OrderQty|ProductID|SpecialOfferID|UnitPrice|UnitPriceDiscount|LineTotal|             rowguid|       ModifiedDate|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+-------------------+
|       43659|                 1|         4911-403C-98|       1|      776|             1| 2024.994|              0.0| 2024.994|B207C96D-D9E6-402...|2011-05-31 00:00:00|
|       43659|                 2|         4911-403C-98|       3|      777|             1| 2024.994|              0.0| 6074.982|7ABB600D-1E77-41B...|2011-05-31 00:00:00|
|       43659|                 3|         4911-403C-98|       1|      778|             1| 2024.994|              0.0| 2024.994|475CF8C6-49F6-486...|2011-05-31 00:00:00|
|       43659|                 4|         4911-403C-98|       1|      771|             1| 2039.994|              0.0| 2039.994|04C4DE91-5815-45D...|2011-05-31 00:00:00|
|       43659|                 5|         4911-403C-98|       1|      772|             1| 2039.994|              0.0| 2039.994|5A74C7D2-E641-438...|2011-05-31 00:00:00|
|       43659|                 6|         4911-403C-98|       2|      773|             1| 2039.994|              0.0| 4079.988|CE472532-A4C0-45B...|2011-05-31 00:00:00|
|       43659|                 7|         4911-403C-98|       1|      774|             1| 2039.994|              0.0| 2039.994|80667840-F962-4EE...|2011-05-31 00:00:00|
|       43659|                 8|         4911-403C-98|       3|      714|             1|  28.8404|              0.0|  86.5212|E9D54907-E7B7-496...|2011-05-31 00:00:00|
|       43659|                 9|         4911-403C-98|       1|      716|             1|  28.8404|              0.0|  28.8404|AA542630-BDCD-4CE...|2011-05-31 00:00:00|
|       43659|                10|         4911-403C-98|       6|      709|             1|      5.7|              0.0|     34.2|AC769034-3C2F-495...|2011-05-31 00:00:00|
|       43659|                11|         4911-403C-98|       2|      712|             1|   5.1865|              0.0|   10.373|06A66921-6B9F-419...|2011-05-31 00:00:00|
|       43659|                12|         4911-403C-98|       4|      711|             1|  20.1865|              0.0|   80.746|0E371EE3-253E-4BB...|2011-05-31 00:00:00|
|       43660|                13|         6431-4D57-83|       1|      762|             1| 419.4589|              0.0| 419.4589|419A1302-AC7A-404...|2011-05-31 00:00:00|
|       43660|                14|         6431-4D57-83|       1|      758|             1|  874.794|              0.0|  874.794|5D0B2B03-1D4C-4C3...|2011-05-31 00:00:00|
|       43661|                15|         4E0A-4F89-AE|       1|      745|             1|   809.76|              0.0|   809.76|EDE1759E-6733-4C7...|2011-05-31 00:00:00|
|       43661|                16|         4E0A-4F89-AE|       1|      743|             1| 714.7043|              0.0| 714.7043|FE10BF09-D477-485...|2011-05-31 00:00:00|
|       43661|                17|         4E0A-4F89-AE|       2|      747|             1| 714.7043|              0.0|1429.4086|B136852E-24C9-400...|2011-05-31 00:00:00|
|       43661|                18|         4E0A-4F89-AE|       4|      712|             1|   5.1865|              0.0|   20.746|F0F410B6-BC93-4D7...|2011-05-31 00:00:00|
|       43661|                19|         4E0A-4F89-AE|       4|      715|             1|  28.8404|              0.0| 115.3616|AE4CDA7D-9B6E-4AB...|2011-05-31 00:00:00|
|       43661|                20|         4E0A-4F89-AE|       2|      742|             1| 722.5949|              0.0|1445.1898|054A9D3B-A178-465...|2011-05-31 00:00:00|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+--------------------+-------------------+
only showing top 20 rows

In [54]:
# Writing the transformed dataframe to a new CSV file
df.coalesce(1).write.csv('table_salesorderdetail.csv', header=True, mode='overwrite')

In [55]:
spark.stop()